#container{
    background-color:rgb(142, 210, 233);
    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
}

#logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

html,body {
    padding: 0;
    margin: 0;
    font: 14px 'Open sans', sans-serif;
    color: #333;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
	font-size: 24px;
}

input {
	font: 14px 'Open Sans', sans-serif;
    border: 2px solid #ccc;
    padding: 6px;
    display: block;
	margin-bottom: 10px;
    width: 96%;
}

button {
    font: 14px 'Open Sans', sans-serif;
    background-color: #4285f4;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
	text-transform: uppercase;
}

.navbar-brand {
    width: 12.5%;
    text-align: center;
    transition-duration: 0.5s;
}

.navbar-brand:hover {
    background-color: #a49261;
}

.insertForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#loginForm {
    padding: 40px;
    background:#DDD;
    border: 4px solid #AAA;
    width: 360px;
    margin: 30px auto;
    color: black;
}

#err {
    color:red;
}
